body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.em-text {
    color: #474646 !important;
}
.col-md-4{
    margin-bottom: 20px;
}

section {
    padding: 40px 0;
}

.jumbotron{
    background-color: #474646;
    color: #ffffff;
    height: 100%;

}

.jumbotron h1 {
    margin-top: 60px;
}
.jumbotron p {
    margin-bottom: 40px;
}
.jumbotron img.app-btn{
    width: 40%;
    margin-right: 30px;
}

.jumbotron img.showcase-img {
    width: 75%;
}

img.demo {
    width: 100%;
    padding: 3px;
    border:1px solid #d2d2d2;
}

img.big-logo{
    width: 100%;
}

section.feature {
    background: #474646;
    color:white;
    padding: 40px;
    overflow: auto;
}

section.feature ul li {
    font-size: 22px;
    list-style: none;
    line-height: 50px;
}
section.feature ul  {
    padding: 0;
    margin: 0;
}


section#title-bar {
    padding: 0;
    margin: 0;
    height: 80px;
    background: #474646;
    color: white;
}

section#title-bar h1 {
    margin-bottom: 20px;

}

section#about,
section#contact{
    min-height: 745px;
}


footer {
    background: #474646;
    color: white;
    padding: 30px 0 20px 0;
}

footer li {
    float: left;
    padding: 0 10px 0 10px;
    list-style: none;
}

footer a {
    color: white;
}
footer p{
    float: right;
}

/* MEDIA QUERIES */

@media(max-width: 1200px){

}

@media(max-width: 991px){
    .showcase-img {
        display: none;
    }
    img.big-logo {
        width: 60%;
    }
}

@media(min-width: 768px) and (max-width: 990px){
    .jumbotron img.app-btn{
        width: 30%;
    }

    .jumbotron {
        height: 400px !important;
        background-size: 100% 100%;
    }

    .jumbotron h1{
        margin-top: 10px;
    }

}

@media(max-width: 768px) {
    .jumbotron {
        height: 350px !important;
        background-size: 100% 100%;
    }
    .jumbotron h1{
        margin-top: 10px;
    }

}

@media(max-width: 500px) {
    .jumbotron {
        height: 450px !important;
        text-align: center;
    }
    .jumbotron img.app-btn{
        width: 60%;
        margin: 0 auto 30px auto;
        display: block;
    }
    section.feature ul li {
        font-size: 120% !important;
    }
    footer p{
        float: none;
        text-align: center;
    }

}